/*  side bar
----------------------------------------  */
hr {
    margin: 1rem 0;
}

.hljs.code {
    font-size: .75rem;
    max-height: 10rem;
    padding: .75rem 1.5rem;
}

.gui-side-bar {
    position: fixed;
    width: 14rem;
    height: 100%;
    background-color: #072132;
    box-shadow: 6px 16px 32px -18px #738088;
    color: #fff;
    text-transform: capitalize;
    z-index: 2;
}

.gui-side-bar .mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.gui-side-bar .side-title {
    padding: 1rem 2.5rem;
    opacity: .7
}

.gui-side-bar .side-title i {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.gui-side-nav > ul {
    border-top: 1px rgba(255, 255, 255, .16) solid;
}

.gui-side-nav > ul > li {
    margin: .125rem 0;
}

.gui-side-nav li > a {
    display: block;
    user-select: none
}

.gui-side-nav li > a {
    color: rgba(255, 255, 255, .7);
    font-size: .75rem;
    padding: .675rem 0 .675rem 3rem;
    transition: .125s all ease-in-out;
    text-decoration: none;
}

.gui-side-nav li > a:hover,
.gui-side-nav li.active > a {
    background-color: rgba(255, 255, 255, .16);
    color: #fff;
}

.gui-side-nav li > a > i {
    color: #68BBE3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .125s all ease-in-out;
}

.gui-side-nav li > a:hover > i,
.gui-side-nav li.active i {
    color: #BADCF3;
    transform: translateY(-50%)scale(1.15);
}

.gui-side-nav li:not(:nth-child(2)) > a > i {
    font-size: 1.25rem;
    left: 1rem;
}

.gui-side-nav li:nth-child(2) > a  > i {
    font-size: .875rem;
    left: .75rem;
}

/*  header
----------------------------------------  */
.gui-main-cnt .gui-header {
    padding: 1.5rem 1rem 1.25rem;
    text-transform: uppercase;
}

.gui-main-cnt .gui-header h1 {
    font-size: 0;
}

.gui-main-cnt .gui-header h1 > font {
    color: #A7B1B6;
    font-weight: 300;
    letter-spacing: 2px;
    top: .625rem;
}

.gui-main-cnt .gui-header .gui-update {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .875rem;
    padding: .25rem 1rem;
    background-color: #EFF3F5
}

.gui-main-cnt .gui-header .gui-update i {
    color: #A7B1B6;
    font-size: 1.25rem;
    vertical-align: sub;
    margin-right: .5rem;
}

/*  main content
----------------------------------------  */
.gui-main-cnt {
    margin-left: 14rem;
    overflow: hidden;
    float: left;
    width: calc(100% - 14rem);
}

.gui-main-cnt.active {
    margin-left: 0;
    width: 100%;
}

/*  icon
----------------------------------------  */
.gui-icon-tb {
    display: block;
    margin: .5rem .25rem;
    padding: 1.5rem .5rem .5rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.gui-icon-tb > a {
    display: block
}

.gui-icon-tb i {
    font-size: 2rem;
}

.gui-icon-tb p {
    font-size: .75rem;
    padding: .5rem;
    background-color: #fff;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow: -moz-hidden-unscrollable;
    -ms-overflow-style: none;
}

.gui-icon-tb p::-webkit-scrollbar {
    display: none;
}

/*  page about
----------------------------------------  */
.gui-main-cnt .gui-about {
    padding: 2rem 1rem 5rem;
    color: #fff;
    background-color: #fff
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .24
}

.gui-effect-skew {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    right: 30%;
    transform: skew(-35deg);
    border-radius: 0 0 180px 0;
    background: rgb(0, 35, 97);
    background: -moz-linear-gradient(120deg, rgba(0, 35, 97, 1) 0%, rgba(0, 81, 153, 1) 50%, rgba(14, 134, 212, 1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(0, 35, 97, 1) 0%, rgba(0, 81, 153, 1) 50%, rgba(14, 134, 212, 1) 100%);
    background: linear-gradient(120deg, rgba(0, 35, 97, 1) 0%, rgba(0, 81, 153, 1) 50%, rgba(14, 134, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002361", endColorstr="#0e86d4", GradientType=1);
    pointer-events: none;
}

.gui-main-cnt .gui-about h2 {
    font-size: .875rem;
    font-weight: normal;
}

.gui-main-cnt .gui-about h2 > strong,
.gui-main-cnt .gui-about h2 > big {
    font-size: 150%;
}

.gui-main-cnt .gui-about ul {
    font-size: 0;
    margin-left: 1.25rem;
    margin-top: .5rem;
}

.gui-main-cnt .gui-about ul > li {
    margin-top: 1rem;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: .875rem;
    padding-right: 1rem;
}

.gui-about .gui-icon-heading-ver1-bd:after {
    background-color: #ffeb3b;
}

.gui-about .gui-icon-heading-ver1-hd:first-letter,
.gui-about .gui-icon-heading-ver1-bd i {
    color: #ffeb3b;
}

.gui-main-cnt .gui-about ul > li > i {
    color: #ffeb3b;
    font-size: 1.375rem;
    margin-left: .5rem;
    margin-right: .25rem;
}

.gui-main-cnt .gui-about ul > li > strong {
    text-transform: uppercase;
}

.gui-main-cnt .gui-about ul > li:before {
    content: '0'attr(data-number)'.';
    color: #fff;
    font-size: 1.25rem;
    margin-left: -1rem;
}

.gui-main-cnt .gui-about ul > li > p {
    font-size: 1.125rem;
    margin-top: .375rem;
}

/*  page content
----------------------------------------  */
.gui-main-cnt .gui-block {
    background-color: #F1F6FB;
    padding: 2rem 1rem;
    z-index: 1;
}

.gui-main-cnt .row.gui-cnt-row {
    padding: 0 2rem;
}

.gui-icon-heading-ver1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.gui-icon-heading-ver1-hd,
.gui-icon-heading-ver1:after {
    font-size: 1.5rem;
    font-weight: 700;
}

.gui-icon-heading-ver1-hd {
    display: inline-block;
}

.gui-icon-heading-ver1-hd:after {
    content: attr(data-heading);
    color: #233138;
    font-size: 200%;
    position: absolute;
    top: -55%;
    left: 2.25rem;
    white-space: nowrap;
    opacity: .08;
    font-weight: 500;
}

.gui-icon-heading-ver1-hd:first-letter {
    font-size: 175%;
    color: #0E86D4;
    padding-right: .25rem
}

.gui-icon-heading-ver1-bd {
    line-height: .5;
    left: -1rem;
}

.gui-icon-heading-ver1-bd:after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #0E86D4;
    opacity: .36;
    height: 1px;
}

.gui-icon-heading-ver1-bd:after {
    left: 3rem;
    width: calc(100% - 3rem);
}

.gui-icon-heading-ver1-bd i:not(.jb-df-ones) {
    font-size: 1.75rem;
}

.gui-icon-heading-ver1-bd i.jb-df-ones {
    font-size: 1rem;
}

.gui-icon-heading-ver1-bd i {
    color: #0E86D4;
    opacity: .6;
    left: .5rem;
}

/* sub heading */
.gui-block .gui-sub-heading,
.gui-block .gui-sub-heading-ver1,
.gui-block .gui-sub-heading-ver2 {
    margin-top: 1.25rem;
    text-transform: uppercase;
}

.gui-block .gui-sub-heading,
.gui-block .gui-sub-heading-ver1 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #233138
}

.gui-block .gui-sub-heading,
.gui-block .gui-sub-heading-ver1 font {
    display: inline-block;
}

.gui-block .gui-sub-heading {
    padding-right: .25rem;
    letter-spacing: 1px;
    border-bottom: #b4defa 1px solid;
}

.gui-block .gui-sub-heading-ver1 {
    margin-left: .5rem;
}

.gui-block .gui-sub-heading-ver1 big:before {
    background-color: #b4defa;
}

.gui-block .gui-sub-heading-ver1 font {
    font-size: 50%;
    font-weight: 700;
    line-height: 0;
    padding: .75rem .5rem;
    user-select: none;
    color: #fff;
    background-color: #84caf7;
}

.gui-block .gui-sub-heading-ver1 big {
    display: block;
}

.gui-block .gui-sub-heading-ver1 big:before {
    position: absolute;
    top: 50%;
    left: -3rem;
    width: 2.5rem;
    height: 1px;
    content: '';
}

.gui-block .gui-sub-heading:first-letter,
.gui-block .gui-sub-heading-ver1 big:first-letter,
.gui-block .gui-sub-heading-ver2:first-letter {
    font-size: 125%;
}

.gui-block .gui-sub-heading-ver2 {
    font-size: 200%;
    font-weight: 600;
    margin-left: .5rem;
    color: #72828A;
}

/* gui description */
.gui-description {
    margin: 0 0 1.5rem 1.25rem;
    color: #72828A;
    font-size: .875rem
}

/* code-accordions  */
.code-accordions {
    font-size: 0;
    display: block;
    margin-top: .5rem;
    margin-bottom: .25rem;
    cursor: pointer;
    text-align: right;
}

.code-accordions i {
    font-size: 1.25rem;
    margin-right: .5rem;
}

.code-accordions span {
    text-decoration: underline;
}

/* Basic card */
.control-card {
    transition: .25s all ease-in-out;
}

.control-card:not(.control-card--ver1):not(.control-card--ver2) {
    border-bottom: solid 3px #eff3f5;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.control-card:not(.control-card--ver1):not(.control-card--ver2):hover {
    transform: translate3d(0, -.625rem, 0);
    box-shadow: 0 .5rem 1rem -.5rem rgba(0, 0, 0, .24);
}

/* Card ver1 */
.control-card.control-card--ver1 {
    padding: .75rem;
    border: 1px solid #eff3f5;
    border-radius: 2px;
}

.control-card.control-card--ver1 .card-inner {
    overflow: hidden;
    padding: 2rem 1rem;
    display: inline-table;
    width: 100%
}

.control-card.control-card--ver1 .card-inner.push--20 {
    content: '';
    padding-top: 20%;
    display: block;
    width: 100%
}

.control-card.control-card--ver1 .card-inner > i {
    white-space: nowrap;
}

.control-card.control-card--ver1 .card-inner > i:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

/* Card ver1 */
.control-card.control-card--ver2 {
    padding: 1.5rem .75rem .75rem;
    border: 1px solid #eff3f5;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04);
}

/* colorpalette card */
.palette-list {
    margin: 0 -.75rem;
    padding: 0 3rem;
}

.palette-item {
    float: left;
    width: 20%;
    padding: .25rem .75rem;
}

@media all and (max-width:1200px) {
    .palette-item {
        width: 25%;
    }

}

@media all and (max-width:992px) {
    .palette-item {
        width: 33.33333333%;
    }

}

@media all and (max-width:768px) {
    .palette-item {
        width: 50%;
    }

}

@media all and (max-width:480px) {
    .palette-item {
        width: 100%;
    }

}

.palette-card {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .06);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.palette-card .palette-bg {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 0 .5rem rgba(0, 0, 0, .04) inset;
    padding: .5rem;
    text-align: center;
    transition: .25s all ease-in-out;
    overflow: hidden;
}

.palette-card .palette-bg:after {
    content: '';
    display: block;
    padding-top: 65%;
}

.palette-card:hover .palette-bg {
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .04) inset;
}

.palette-card .palette-bg h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .875rem;
    padding: 0 1rem;
    width: 100%;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    opacity: .7;
    transition: .25s all ease-in-out;
}

.palette-card:hover .palette-bg h6 {
    font-size: 110%;
    opacity: 1;
}

.palette-card .palette-txt-cnt {
    padding: .375rem .75rem;
    background-color: #fff;
}

.palette-txt-cnt:before,
.palette-txt-cnt:after {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    transform: translateX(-50%);
    border-style: solid;
    border-color: transparent;
}

.palette-card .palette-txt-cnt:before {
    top: -1rem;
    border-width: 0 3rem 2rem;
    border-bottom-color: #fff;
    z-index: 1
}

.palette-card .palette-txt-cnt:after {
    top: -1.875rem;
    transition: .25s all ease-in-out;
    border-width: 0 2.25rem 1.375rem;
    border-bottom-color: rgba(0, 0, 0, .04);
}

.palette-card:hover .palette-txt-cnt:after {
    top: -1.5rem;
    border-width: 0 2rem 1.25rem;
}

.palette-card .palette-txt-cnt dl {
    font-size: .875rem;
}

.palette-card .palette-txt-cnt dl:not(:first-child) {
    margin: .375rem 0 .25rem;
}

.palette-card .palette-txt-cnt dl:not(:last-child) {
    margin-top: .375rem;
}

.palette-card .palette-txt-cnt dt {
    float: left;
    margin-right: .5rem;
    color: #A7B1B6;
}

.palette-card .palette-txt-cnt dd {
    float: left;
}

/* Typography */
.gui-block .ty-group:first-of-type {
    margin-bottom: 1rem;
}

.gui-block .ty-group:not(:first-of-type) {
    margin: 1rem 0;
}

.gui-block .ty-group {
    padding-right: 1.5rem;
}

.ty-group .ty-group-head {
    margin-bottom: .25rem;
}

.ty-group .ty-group-head strong {
    font-size: 150%;
    color: #0E86D4;
}

.ty-group .ty-group-head big {
    margin-right: .75rem;
    margin-left: .75rem;
}

.ty-group .ty-group-head sub {
    color: #68BBE3;
}

.gui-block .ty-group h1,
.gui-block .ty-group h2,
.gui-block .ty-group h3,
.gui-block .ty-group h4,
.gui-block .ty-group h5,
.gui-block .ty-group h6 {
    letter-spacing: 1px;
    color: #233138;
}

.ty-group .ty-group-bd {
    padding-left: .5rem;
    color: #A7B1B6;
}

.gui-group .img-sample {
    width: 10rem
}

.gui-block .gui-group {
    margin: 1rem 0 2rem;
}

.gui-group .btn {
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.btn--neu {
    background-color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    cursor: pointer;
    margin-right: 2rem;
    outline: none;
    overflow: hidden;
    padding: .875rem .625rem;
    text-align: center;
    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.btn--neu:active:after,
.btn--neu.active:after {
    content: '';
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9, inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003, inset 4px 4px 5px 0px #0001;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.btn--neu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    background: rgba(255, 255, 255, 0.13);
    z-index: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.3) 100%);
}

.btn--neu:hover:before {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 0.7s, 0.15s;
    transition-timing-function: ease;
}

.btn--neu.active {
    left: 1rem;
}

.lt-side-menu {
    top: 3px;
}

.menu-icon__line {
    height: 2px;
    width: 2rem;
    display: block;
    background-color: #68bbe3;
    margin-bottom: 6px;
    transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu-icon__line-right {
    width: 1.0625rem;
    float: right;
}

.menu-icon__line-left {
    width: 1.0625rem;
}

.btn--neu.active .menu-icon__line {
    transform: translateX(0px) rotate(-45deg);
}

.btn--neu.active  .menu-icon__line-left {
    transform: translate(3px, 3px) rotate(45deg);
}

.btn--neu.active  .menu-icon__line-right {
    transform: translate(-2px, -2px) rotate(45deg)
}

.gui-side-bar.close {
    transform: translateX(-100%);
    transition: .25s all ease-in-out
}

.ghost {
    width: 5rem;
    height: 6.25rem;
    display: block;
}

.ghost .jb-df-ones {
    position: absolute;
    bottom: .75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
}

.ghost .body {
    width: 5rem;
    height: 6.25rem;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    background-color: #F5F6FA;
    animation: float 4s ease infinite;
}

.ghost .body .face {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.25rem;
    height: 1.25rem;
}

.ghost .body .face .eye {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: #233138;
    float: left;
}

.ghost .body .face .eye.left {
    margin-right: 1rem;
}

.ghost .body .face .smile {
    margin-top: .25rem;
    width: 1rem;
    height: .5rem;
    margin-left: .625rem;
    border-bottom-left-radius: 1rem .75rem;
    border-bottom-right-radius: 1rem .75rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #272B24;
    float: left;
}

.ghost .body .face .rosy {
    position: absolute;
    top: 1rem;
    width: .625rem;
    height: .25rem;
    border-radius: 100%;
    background-color: #FCE2E6;
}

.ghost .body .face .rosy.left {
    left: -.25rem;
    transform: rotate(-8deg);
}

.ghost .body .face .rosy.right {
    right: -.25rem;
    transform: rotate(8deg);
}

.ghost .body .arm {
    position: absolute;
    top: 4.25rem;
    width: 2rem;
    height: 1.5rem;
    background-color: #F5F6FA;
}

.ghost .body .arm.left {
    left: 0;
    border-radius: 60% 100%;
    animation: arms-left 4s ease infinite;
}

.ghost .body .arm.right {
    right: -1rem;
    border-radius: 100% 60%;
    animation: arms-right 4s ease infinite;
}

.ghost .body .bottom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.ghost .body .bottom > div {
    width: 20%;
    float: left;
    top: -.5rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #F5F6FA;
}

.ghost .body .bottom div:nth-child(2n) {
    top: -.375rem;
    border-top: 4px solid #F5F6FA;
    background: transparent;
}

.ghost .shadow {
    position: absolute;
    bottom: -.75rem;/*     left: 50%; */
    width: 6.25rem;
    height: .375rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .3);
    animation: shadow 4s ease infinite;
}

/* 
@keyframes float {
    0%,
    100% {
        top: 0px;
    }

    40% {
        top: -20px;
    }

}

@keyframes arms-left {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(50deg);
        transform: translate(-50%, -50%) rotate(50deg);
    }

    40% {
        -webkit-transform: translate(-50%, -50%) rotate(40deg);
        transform: translate(-50%, -50%) rotate(40deg);
    }

}

@keyframes arms-right {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-50deg);
        transform: translate(-50%, -50%) rotate(-50deg);
    }

    40% {
        -webkit-transform: translate(-50%, -50%) rotate(-40deg);
        transform: translate(-50%, -50%) rotate(-40deg);
    }

}

@keyframes shadow {
    0%,
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }

    40% {
        -webkit-transform: translateX(-50%) scale(0.5);
        transform: translateX(-50%) scale(0.5);
    }

} */
.pokemon {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .3);
    background-color: #78d9ad;
    margin-bottom: 15px;
}

.pokemon .top {
    width: calc(64% - 20px);
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #75b87e;
    margin: 0 auto;
    position: relative;
}

.pokemon .middle {
    width: 10px;
    height: 14px;
    background-color: #639868;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
}

.pokemon .square {
    position: absolute;
    background-color: #3c8a5d;
}

.pokemon .square1 {
    left: 70px;
    top: 15px;
    width: 34px;
    height: 14px;
}

.pokemon .square2 {
    left: 50px;
    top: 32px;
    width: 8px;
    height: 8px;
}

.pokemon .square3 {
    left: 70px;
    top: 50px;
    width: 15px;
    height: 15px;
}

.pokemon .eye {
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
}

.pokemon .eye-left {
    left: 13px;
    top: 53px;
}

.pokemon .eye-right {
    left: 97px;
    top: 53px;
}

.pokemon .fix {
    background-color: #78d9ad;
    position: absolute;
    width: 12px;
    height: 50px;
    transform: rotate(10deg);
    top: -5px;
    left: -7px;
    z-index: 1;
}

.pokemon .fix2 {
    background-color: #78d9ad;
    position: absolute;
    width: 12px;
    height: 50px;
    transform: rotate(-10deg);
    top: -5px;
    right: -7px;
    z-index: 1;
}

.pokemon .pupil {
    background-color: #fff;
    width: 24px;
    height: 25px;
    border-top: 8px solid #bd414f;
    border-left: 8px solid #bd414f;
    border-right: 8px solid #bd414f;
    transform: translate(13px, 7px);
}

.pokemon .pupil2 {
    background-color: #fff;
    width: 26px;
    height: 25px;
    border-top: 8px solid #bd414f;
    border-left: 8px solid #bd414f;
    border-right: 8px solid #bd414f;
    position: relative;
    transform: translate(0px, 7px);
}

.pokemon .pupil:after {
    background-color: #d6616d;
    position: absolute;
    content: "";
    height: 8px;
    width: 26px;
    top: 17px;
    left: -8px;
}

.pokemon .pupil2:after {
    background-color: #d6616d;
    position: absolute;
    content: "";
    height: 8px;
    width: 26px;
    top: 17px;
    left: -8px;
}

.pokemon .nose {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 92px;
    width: 18px;
    height: 7px;
}

.nose:after {
    background-color: #5aaa84;
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
}

.pokemon .nose:before {
    background-color: #5aaa84;
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    right: 0;
}

.pokemon .mouth {
    background-color: #944368;
    width: 72%;
    margin: auto;
    height: 0px;
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    border-top: 2px solid #5aaa84;
}

.pokemon .teeth {
    width: 95%;
    height: 10px;
    margin: 0 auto;
    z-index: 1;
}

.pokemon .teeth:before {
    background-color: #fff;
    content: "";
    position: absolute;
    height: 8px;
    width: 10px;
    right: 8px;
}

.pokemon .teeth:after {
    background-color: #fff;
    content: "";
    position: absolute;
    height: 8px;
    width: 10px;
    left: 8px;
}

.pokemon .tongue {
    background-color: #ce779f;
    width: 70%;
    margin: 0 auto;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    z-index: 0;
}

.pokemon .sleep-eye {
    height: 5px;
    width: 30px;
    background-color: #5aaa84;
    position: absolute;
    top: 73px;
}

.pokemon .sleep-eye-left {
    left: 13px;
}

.pokemon .sleep-eye-right {
    right: 13px;
}

.pokemon .red {
    position: absolute;
    height: calc(50% - 7px);
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e74c3c;
    border-bottom: 15px solid #2d2d2d;
    z-index: 99;
    display: none;
}

.pokemon .squareC2 {
    border: 10px solid #2d2d2d;
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.pokemon .done {
    background-color: #27ae60;
    position: absolute;
    z-index: 100;
    height: 0px;
    top: 0;
    left: 0;
    width: 190px;
    overflow: hidden;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 190px;
    font-size: 20px;
}

.col-style {
    padding: 1rem 0;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
    background-color: #3c4856;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
}
