@charset "utf-8";
/**
 * ==   Pages > MemberPassword
 */

.input-icon {
  display: inline-block;
  width: 100%;

  input {
    padding: .75rem;
    width: 100%;
  }

  > i {
    color: #A7B1B6;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    right: .75rem;
    top: 50%;
    transition: all .25s ease-in-out;
    transform: translateY(-50%);

    &:hover {
      opacity: 0.9;
    }
  }
}