@charset "utf-8";
/**
 * ==   Pages > Survey
 */

.survey_content {
  padding: 2rem;

  .self-input {
    width: 100%;
    box-shadow: none;
    border-style: none none solid;
    border-bottom: 1px solid rgb(127, 150, 182);
  }

  .self-input-chk {
    display: none;
    width: 100%;
    box-shadow: none;
    border-style: none none solid;
    border-bottom: 1px solid rgb(127, 150, 182);
  }
}

.choose_survey input {
  &[type=radio], &[type=checkbox] {
    display: none;
  }

  &[type=radio]:checked + label, &[type=checkbox]:checked + label {
    background-color: #486996;
    color: #fff;
    border-color: #486996;
  }
}

.choose_survey_text {
  width: 75px;
  text-align: center;
  padding: .5rem;
}

.choose_survey i {
  color: #aec1d9;
  font-size: 25px;
  vertical-align: middle;
}

.btn-survey-sm {
  width: 70px;
  font-size: 15px;
  border-radius: 4px;
  padding: .5rem;
  border: 1px #ccc dashed;
  margin-left: .5rem;
  background-color: #fff;

  &:hover {
    background-color: #e7eef3;
  }
}

.btn-survey-md {
  width: 140px;
  font-size: 15px;
  border-radius: 4px;
  padding: .625rem 1rem;
}

.btn-survey-lg {
  width: calc(100% - 295px);
  font-size: 15px;
  border-radius: 4px;
  padding: .625rem 1rem;
  border: 1px #ccc dashed;
  margin-right: 1rem;
  background-color: #fff;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.btn-survey-xlg {
  width: 260px;
  font-size: 15px;
  border-radius: 4px;
  padding: .625rem 1rem;
  margin-right: 1rem;
}

.survey_textarea {
  max-width: 100%;
  width: 100%;
  height: 100px;
}

.choose_title {
  border-bottom: #aec1d9 3px solid;
  margin-bottom: 1rem;
}

.btn-next {
  width: 160px;
  font-size: 15px;
  border-radius: 4px;
  padding: .625rem 1rem;
}